body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
  color: #020202;
  background-color: #fafafa;
  margin: 0;
  padding: 0px 30px 30px 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mapboxgl-ctrl-top-right {
  display: none;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}